<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:text="http://www.w3.org/1999/xhtml">

<head th:replace="fragments.html :: head"/>

<body class="bg-light">
  <div th:replace="fragments.html :: main-nav"/>
    <div class="container">
      <div class="row pt-4 text-left justify-content-center bg-light">
        <div class="col-6">
          <a href="#" class="text-decoration-none" th:href="@{'/order/' + ${order.id}}">
            <span class="h2" th:text="${order.title}">공구 이름</span>
          </a>
        </div>
        <div class="col-4 text-right justify-content-end">
            <span th:if="${order.closed}"
                  class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="종료">
                    <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>종료</button>
            </span>
          <span th:if="${!order.closed}"
                class="d-inline-block ml-1" tabindex="0" data-toggle="tooltip" data-placement="bottom" title="진행중">
                <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled>진행중</button>
            </span>
          <span sec:authorize="isAuthenticated()" th:if="${order.isAvailable() && !order.isParticipant(#authentication.principal) && !order.isOwner(#authentication.principal)}"
                class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" onclick=joinOrder(this) th:id="${order.id}" class="btn btn-primary">
                        참가
                    </button>
          </span>
          <span sec:authorize="isAuthenticated()" th:if="${order.isOwner(#authentication.principal)}"
                class="btn-group" role="group" aria-label="Basic example">
                    <a class="btn btn-warning" th:href="@{'/order/setting/' + ${order.id}}">
                        수정
                    </a>
            </span>

            <span sec:authorize="isAuthenticated()" th:if="${order.isOwner(#authentication.principal) && !order.closed}"
                  class="btn-group" role="group" aria-label="Basic example">
<!--                    <a id="deleteOrder" class="btn btn-danger"  th:href="@{'/order/setting/' + ${order.id} + '/remove'}">-->
<!--                        삭제-->
<!--                    </a>-->
                <button class="btn btn-danger" onclick=deleteOrder(this) th:id="${order.id}" type="button">
                    삭제
                </button>
            </span>


            <span sec:authorize="isAuthenticated()"
                th:if="${!order.closed && order.isParticipant(#authentication.principal)}" class="btn-group" role="group">
                    <button type="button" class="btn btn-danger" onclick=leaveOrder(this) th:id="${order.id}">
                        취소
                    </button>
            </span>
          <span>
              <a class="btn btn-outline-primary" th:href="@{'/orders/'}">
                  <i class="fa fa-list"></i> 목록
              </a>
          </span>
        </div>

          <div class="table table-striped-columns">
              <span>작성자 : </span> <span class="h2" th:text="${order.owner.name}">작성자 </span>
              <span>게시일 : </span> <span class="h2" th:text="${order.createdAt}">작성자 </span>
          </div>

          <div class="table table-striped-columns">
              <span>현재 인원 수 : </span> <span class="h2" th:text="${order.getUsers().size() + 1}">작성자 </span>
              <span>총 인원 수 : </span> <span class="h2" th:text="${order.numberOfLimit}">작성자 </span>
          </div>


          <div>
              <span>이미지: </span> <span class="h2" th:text="${order.item.itemImage}"/>
              <span>내용: </span> <span class="h2" th:text="${order.description}"/>
          </div>
          <div>
              <div id="parentId" th:value="${parent.key}" th:each="parent: ${comments}">
                  댓글
                  <div th:each="child: ${parent.value}">
                      <div id="childId" th:value="${child.key}" th:text="${child.value}"></div>
                      <button th:id="${child.key}" onclick=deleteIdx(this) id="reply-btn-delete" type="button" class="btn btn-dark mt-2">삭제</button>
                  <div/>



              </div>
          </div>

              <div>
                  <input type="hidden" id="orderId" th:value="${order.id}">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                          <textarea class="form-control" id="reply-content" rows="1"></textarea>
                          <button id="reply-btn-save" type="button" class="btn btn-dark mt-3">등록</button>
                      </li>
                  </ul>
              </div>
      </div>
    </div>
    </div>


</body>

<script th:replace="fragments.html :: ajax-csrf-header"></script>
<script type="application/javascript" th:inline="javascript">
    let deleteOrder = (e) => {
        let orderId = e.id

        $.ajax({
            type: "DELETE",
            url: `/order/setting/${orderId}`,
            data: '',
            autocomplete: {
                enabled: true,
                rightKey: true
            },
            contentType: "application/json; charset=utf-8",
            dataType: "text"
        }).done(function(res) {
            console.log(res);
            location.href="/orders"
        }).fail(function (err) {
            alert(JSON.stringify(err));
        })
    }
</script>

<script type="application/javascript" th:inline="javascript">
    let joinOrder = (e) => {
        let orderId = e.id

        $.ajax({
            type: "POST",
            url: `/order/${orderId}/join`,
            data: '',
            autocomplete: {
                enabled: true,
                rightKey: true
            },
            contentType: "application/json; charset=utf-8",
            dataType: "text"
        }).done(function(res) {
            console.log(res);
            location.href=`/order/${orderId}`
        }).fail(function (err) {
            alert(JSON.stringify(err));
        })
    }
</script>

<script type="application/javascript" th:inline="javascript">
    let leaveOrder = (e) => {
        let orderId = e.id

        $.ajax({
            type: "POST",
            url: `/order/${orderId}/leave`,
            data: '',
            autocomplete: {
                enabled: true,
                rightKey: true
            },
            contentType: "application/json; charset=utf-8",
            dataType: "text"
        }).done(function(res) {
            console.log(res);
            location.href=`/order/${orderId}/leave`
        }).fail(function (err) {
            alert(JSON.stringify(err));
        })
    }
</script>




<script type="application/javascript" th:inline="javascript">
    let deleteIdx = (e) => {

        let targetId = e.id
        let orderId = $('#orderId').val();

        console.log(targetId);
        console.log(orderId);

        $.ajax({
            type: "POST",
            url: `/comment/${orderId}/delete/${targetId}`,
            data: '',
            autocomplete: {
                enabled: true,
                rightKey: true,
            },
            contentType: "application/json; charset=utf-8",
            dataType: "text"
        }).done(function(res) {
            alert("댓글을 삭제 하였습니다.");
            location.href = `/order/${orderId}`
        }).fail(function (err) {
            alert(JSON.stringify(err));
        })
    }
</script>

<script type="application/javascript" th:inline="javascript">
    let replyIdx = {
        init: function() {
            $('#reply-btn-save').on('click', () => {
                this.replySave();
            });
        },

        replySave: function() {
            let data = $('#reply-content').val()
            let orderId = $('#orderId').val();

            console.log(data);
            console.log(orderId);
            $.ajax({
                type: "POST",
                url: `/comment/${orderId}`,
                data: JSON.stringify({text: data, parentId: 1}),
                autocomplete: {
                    enabled: true,
                    rightKey: true,
                },
                contentType: "application/json; charset=utf-8",
                dataType: "text"
            }).done(function(res) {
                alert("댓글을 작성하였습니다.");
                location.href = `/order/${orderId}`
            }).fail(function (err) {
                alert(JSON.stringify(err));
            })
        }
    }
    replyIdx.init();
</script>

</html>
